* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header-side {
        flex: 0 0 25%;
    }
}

h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
}

.box-btns {
    display: flex;
    justify-content: center;

    .btn-login {
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #fff;
        margin: 10px;

        &:hover {
            background-color: #fff;
            color: #000;
            transition: 1s color background-color;
        }
    }

    .sing-color {}
}



.box-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.btn-add {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #000;
    margin: 0 0 0 20px;
    transition: 1s all;

    &::after {
        content: '+';
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: -5%;
        left: 23%;
    }

    &:hover {
        cursor: pointer;
    }
}

.input-search {
    width: 50%;
    height: 50px;
    border: 0;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    color: #000;
}


.card-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card-item {
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: column;
        width: 300px;
        height: 200px;
        margin: 0 0 30px 0;
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 0 20px;
            padding: 0 10px 10px 0;

            &-bottom {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                p {
                    flex: 0 0 40%;
                }
            }
        }

        .title {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 700;
            flex: 0 0 10%;
        }

        p {
            font-size: 14px;
            letter-spacing: 1px;
            flex: 0 0 30%;
        }

    }
}

.card-page {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.box-image-sun {
    display: flex;
    justify-content: center;

    .sun-image {
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
}

.extra-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 10px;
    }

    img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
}

.modal-content {
    padding: 20px;
    background: #000;
    width: 400px;
    height: 300px;
}

.add-movie-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    padding: 20px;
    color: #000;
}

.input-name-movie {
    width: 90%;
    height: 40px;
    margin: 0 0 10px 0;
    color: #000;
}

.add-file-movie {
    display: flex;
    align-items: center;

    p {
        flex: 0 0 45%;
        font-size: 25px;
        font-weight: 400;
    }

    input {
        flex: 0 0 45%;
    }
}

.small-input-movie {
    display: flex;

    .input-year,
    .input-format {
        width: 44%;
        height: 40px;
        margin: 0 0 10px 0;
        color: #000;
    }
}

.textarea-actors {
    width: 90%;
    height: 80px;
    margin: 0 0 10px 0;
    color: #000;
}

.btn-submit {
    width: 91%;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
}

.btn-delete {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;

    &:before {
        content: '+';
        font-size: 40px;
        position: absolute;
        top: -12%;
        left: 18%;
        transform: rotate(45deg);
    }

    &:hover {
        cursor: pointer;
    }
}